<!DOCTYPE html>
<head>
  <title>
	{subject}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&amp;display=swap" rel="stylesheet">
</head>
<body>
  <div data-section-wrapper="1" class="main">
	<div class="head">
	  <a href="https://www.myarstudio.cloud"><img src="https://utils.cdn.myarstudio.cloud/email/logo@3x.png" alt="My AR Studio logo" width="210"></a>
	</div>
	<div data-slot-container="1" class="title">
	  <h3 data-slot="text" class="mb-18">NOTICE
	  </h3>
	  <h1 data-slot="text">{subject}
	  </h1>
	</div>
	<div data-slot-container="1" class="text">
	  <p data-slot="text">In our effort to make this technology more and more accessible we are constantly
		<b>extending our documentation
		</b>. Say welcome to our new section on
		<b>Keyshot
		</b>, a well known tool in the industrial design field to optimize and render 3D models, especially coming from CAD software. Whether you're a regular user of this software or if you are just studying it at the university, we encourage you to have a look at the possibilities offered by My AR Studio at the different stages of product development: from prototyping to sales. You'll discover
		<b>how easy
		</b>
		it is to go to
		<b>Augmented Reality
		</b>
		and
		<b>share your model
		</b>
		with colleagues or clients.
	  </p>
	  <p data-slot="text">As usual you can find the
		<b>documentation
		</b>
		<a href="https://docs.myarstudio.cloud/docs/keyshot/ar/">here</a>.
		<br>
		We also created a set of
		<b>video tutorials
		</b>
		on the same topics for those of you that prefer watching to reading:
		<a href="https://www.youtube.com/channel/UCumGdy00H8ysmPn2rSOQbYg/playlists">YouTube Playlist</a>
	  </p>
	  <p data-slot="text">
		We also
		<b>extended the trial period till November 30
		  <sup>th</sup>
		</b>, so enjoy it if you are still experimenting and don't worry if you need to
		<b>go in production earlier
		</b>: we already have clients in production and we are here to support you, just let us know.
	  </p>
	</div>
	<div data-slot-container="1">
	  <p data-slot="text">Feel free to 
		<a href="mailto:luca@myarstudio.cloud"> contact me </a> for any doubt or request for information.
	  </p>
	</div>
	<div class="footer">
	  <p data-slot="text"> We look forward to see your creations!
		<br>
	  </p>
	  <p class="mx-20 mt-10">Luca
	  </p>
	  <p>
	  </p>
	  <div class="social-footer">
		<a href="https://www.instagram.com/my.ar.studio/" target="_blank"><img src="https://utils.cdn.myarstudio.cloud/email/instagram-logo.png" alt="My AR Studio Instagram page" height="64"></a>
		<a href="https://www.linkedin.com/showcase/myarstudio/" target="_blank"><img src="https://utils.cdn.myarstudio.cloud/email/linkedin-logo.png" alt="My AR Studio Linkedin page" height="64"></a>
		<a href="https://www.youtube.com/@myarstudio" target="_blank"><img src="https://utils.cdn.myarstudio.cloud/email/youtube-logo.png" alt="My AR Studio Youtube channel" height="64"></a>
	  </div>
	  <p class="text-12 col-gray">
		<a href="https://www.myarstudio.cloud">www.myarstudio.cloud</a>
		|
		<a href="mailto:info@myarstudio.cloud">info@myarstudio.cloud</a>
		<br>You received this e-mail because you subscribed to My AR Studio or registered to a related mailing list.
		<br>For more information about your rights and how your data is managed please read our
		<a href="https://www.myarstudio.cloud/legal/en/privacy-policy.html">Privacy Policy</a>.
		<br> {unsubscribe_text} | {webview_text}
	  </p>
	</div>
  </div>
  <style>html{
	-webkit-text-size-adjust:100%;
	line-height:1.15;
	}
	body{
	  margin:0;
	}
	main{
	  display:block;
	}
	h1{
	  font-size:2em;
	  margin:0.67em 0;
	  font-weight:600;
	  margin-bottom:66px;
	}
	hr{
	  box-sizing:content-box;
	  height:0;
	  overflow:visible;
	}
	pre{
	  font-family:monospace, monospace;
	  font-size:1em;
	}
	a{
	  background-color:transparent;
	  color:#00b0be;
	  text-decoration:none;
	}
	abbr[title]{
	  border-bottom:none;
	  text-decoration:underline dotted;
	}
	b, strong{
	  font-weight:bolder;
	}
	code, kbd, samp{
	  font-family:monospace, monospace;
	  font-size:1em;
	}
	small{
	  font-size:80%;
	}
	sub, sup{
	  font-size:75%;
	  line-height:0;
	  position:relative;
	  vertical-align:baseline;
	}
	sub{
	  bottom:-0.25em;
	}
	sup{
	  top:-0.5em;
	}
	img{
	  border-style:none;
	}
	button, input, optgroup, select, textarea{
	  font-family:inherit;
	  font-size:100%;
	  line-height:1.15;
	  margin:0;
	}
	button, input{
	  overflow:visible;
	}
	button, select{
	  text-transform:none;
	}
	[type=button], [type=reset], [type=submit], button{
	  -webkit-appearance:button;
	}
	[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner{
	  border-style:none;
	  padding:0;
	}
	[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring{
	  outline:1px dotted ButtonText;
	}
	fieldset{
	  padding:0.35em 0.75em 0.625em;
	}
	legend{
	  box-sizing:border-box;
	  color:inherit;
	  display:table;
	  max-width:100%;
	  padding:0;
	  white-space:normal;
	}
	progress{
	  vertical-align:baseline;
	}
	textarea{
	  overflow:auto;
	}
	[type=checkbox], [type=radio]{
	  box-sizing:border-box;
	  padding:0;
	}
	[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button{
	  height:auto;
	}
	[type=search]{
	  -webkit-appearance:textfield;
	  outline-offset:-2px;
	}
	[type=search]::-webkit-search-decoration{
	  -webkit-appearance:none;
	}
	::-webkit-file-upload-button{
	  -webkit-appearance:button;
	  font:inherit;
	}
	details{
	  display:block;
	}
	summary{
	  display:list-item;
	}
	[hidden], template{
	  display:none;
	}
	body, html{
	  color:#1c1b1f;
	  font-family:Poppins, Verdana, sans-serif;
	  margin:0;
	  padding:0;
	}
	p{
	  font-size:18px;
	  font-weight:400;
	  line-height:26px;
	  margin-bottom:1.5em;
	  margin-top:1.5em;
	}
	.text p{
	  margin-top:25px;
	}
	.footer p{
	  margin-top:0;
	  margin-bottom:16px;
	}
	b{
	  font-weight:700;
	}
	h3{
	  font-size:16px !important;
	  font-weight:400;
	  letter-spacing:3px;
	  text-transform:uppercase;
	}
	button{
	  background-color:#00b0be;
	  border:0;
	  border-radius:7px;
	  color:#fff;
	  cursor:pointer;
	  font-size:22px !important;
	  padding:15px 25px;
	}
	.main{
	  margin:auto;
	  min-width:200px;
	  width:800px;
	}
	.head{
	  width:210px;
	  margin-bottom:70px;
	  margin-top:25px;
	}
	.footer{
	  margin-bottom:70px;
	  margin-top:25px;
	}
	.mx-20{
	  margin-left:20px;
	  margin-right:20px;
	}
	.mb-18{
	  margin-bottom:18px;
	}
	.mt-10{
	  margin-top:10px;
	}
	.title h3{
	  font-size:22px;
	}
	.title h1{
	  font-size:65px;
	}
	.text-12{
	  font-size:12px;
	}
	.col-gray{
	  color:#707070;
	}
	.social-footer img{
	  height:32px;
	  margin:0 5px;
	}
	@media only screen and (max-width:960px){
	  .title h3{
		font-size:18px;
	  }
	  .title h1{
		font-size:35px;
		margin-bottom:50px;
	  }
	  .main{
		margin:auto;
		min-width:200px;
		width:80%;
	  }
	}
	@media only screen and (max-width:800px){
	  .main{
		margin:auto;
		min-width:200px;
		width:90%;
	  }
	}
	@media only screen and (max-width:600px){
	  .main{
		margin:auto;
		min-width:200px;
		width:100%;
		padding-left:10px;
		padding-right:10px;
	  }
	}
  </style>
</body>